{
  "printWidth": 80,
  "tabWidth": 2,
  "arrowParens": "always",
  "singleQuote": false,
  "trailingComma": "es5",
  "semi": true,
  "newline-before-return": true,
  "no-duplicate-variable": [true, "check-parameters"],
  "no-var-keyword": true
}
